@import "~bootstrap/scss/bootstrap";

.card {
    padding: .5rem,
}
.card-img-top {
    aspect-ratio: 1/1;
    object-fit: cover;
}
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2px;
}
.card-text {
    overflow: hidden;
}
.card-title {
    font-weight: bold;
}
.btn-container {
    text-align: center;
}



@include media-breakpoint-up(md) {
    .card {
        height: 20rem;
    };
    .card-text {
        height: 70%
    };
    .card-title {
        font-size: 1.1rem;
    };
    .card-subtitle {
        font-size: .9rem;
    }
}
@include media-breakpoint-up(lg) {
    .card {
        height: 23rem;
    }
}