@import "../../App.scss";

.navbar {
    margin-bottom: 1em;
    background-color: $yellow-300;
}

.navbar-right {
    gap: 1em;
    align-items: center;
}

.navbar-left {
    justify-content: flex-start;
    gap: 2.5em;
}