@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

$primary: purple;
$accent: gold;

$theme-colors: map-merge($theme-colors, (
  "primary": $primary,
  "accent": $accent,
));
  
  @import 'https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap';
  
  .w-1 {
    width: 1%;
  }
  
  .main-style {
    font-family: 'Roboto', sans-serif;
  }
  
  @import "~bootstrap/scss/bootstrap";